# Игнорирование файлов с расширением .env
.env

# Игнорирование папки node_modules
node_modules/

# Игнорирование файлов с расширением .log
*.log

# Игнорирование файлов с расширением .DS_Store (для Mac)
.DS_Store

# Игнорирование папки .idea (для IntelliJ IDEA)
.idea/
.vscode/
```